*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
}

.big-container{
    display: flex;
}

.top-container{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    height: 80px;
     width: 100%;
    background-color:#080b12;
    text-align: end;
    opacity: 50%;
}

.top-container button{
    margin-top: 20px;
    margin-right: 30px;
    color: white;
    background-color: #070a11;
    border: solid 3px rgb(255, 255, 255);
    width: 180px;
    height: 40px;
    border-radius: 25px;
}

.top-container button:hover {
   transform: scale(1.2,1.2);
    cursor: pointer;
    background-color:#81b71a;
    border: #81b71a;
}



.left-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    width: 250px;
    height: 100vh ;
    background-color: rgb(0, 0, 0);
}

.active2::after{
    content: "";
    display: block;
   position: absolute;
    top: 96px;
    left: 20px;
     width: 5px;
     height: 20px;
    background-color: greenyellow;
    border: solid 0 greenyellow;
    
   
}

@media (max-width:768px){
    .card{
        width: calc((100% - 3rem)/ 4);
    }
}

@media (max-width:480px){
    .card{
        width: calc((100% - 1rem)/ 2);
    }

    .left-container{
        width: 70px;
        overflow: hidden;
    }
    .middle-container{
        margin-left: -180px;
    }

    .parol,
    .flex-container ul li button{
        display: none; 
    }

    .flex-container ul li{
        margin-left: -5px;
    }

    .active2::after{
        display: none;
    }

    .flex-container ul li img{
       width: 160px;
       margin-left: -21px;
    }
    .nav-container{
        margin-top: 20px;
    }

    }



 .left-container li>i{
    margin-inline: 10px;
 }

 .flex-container2{
    margin-bottom: 90px;
 }



.left-container li{
  color:#a3a3a3;
  margin:20px
}

.left-container li button{
    margin-inline: 5px;
}

.left-container li button{
    height: 40px;
    width: 40px;
    background-color: #a3a3a3;
    border: solid #a3a3a3;
    font-size: 25px;
}

.left-container div{
    margin-inline: 20px;
    color:#a3a3a3;
}

hr{
    margin: auto;
    max-width: 200px;
    margin-top: 10px;
}

.left-container p{
    font-size: 30px;
    margin-inline: 20px;
}


.flex-container2 div i{
   margin-inline: 10px;
}

.flex-container2 p i{
    margin-inline: 10px;
}

.left-container ul li:hover{
    color: white;
    cursor: pointer;
}

.left-container div:hover{
    color: white;
    cursor: pointer;
}

.left-container button:hover{
    color: white;
    cursor: pointer;
   
}

@media(max-width:480px){
    .flex-container2 div i,
    .flex-container2 p i{
        margin-left: -5px;
        margin-top: 15px;
    }
}

.middle-container{
    position: fixed;
    left: 250px;
    top: 0;
    right: 0;
    overflow: scroll;
    height: calc(100vh - 80px) ;
    background-color: #141922;
    padding-top: 80px;
}


.middle-container ul li{
    color:#a3a3a3;
}

.middle-container ul li:hover{
    color: white;
    opacity: 100%;
    cursor: pointer;
}

.nav-container{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}


.nav-container ul{
    display: flex;
    margin-top: 10px;
    white-space: nowrap;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-container li{
    margin-inline: 10px;
}

.active::after{
    content: "";
    display: block;
    height: 5px;
    width: 30%;
    background-color: greenyellow;
    border: solid 0 greenyellow;
    border-radius: 20px;
    margin: auto;
}

ul{
    list-style:none ;
}


.cards-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 1250px;
    margin: auto;
    margin-top: 20px;
}

.flex-container ul li{
    display: flex;
}

   

.card{
    position: relative;
    width: calc((100% - 5rem) / 6);
    
}

.card i{
    display: none;
    position: absolute;
    font-size: 70px;
    left: 60px;
    top: 70px;
}

.card img:hover {
    opacity: 20%;
    cursor: pointer;
    display: block;
}

.card img:hover + i{
    display: block;
}
.card2 img{
    position: relative;
}

.card2 i{
    display: none;
    position: absolute;
    font-size: 70px;
    left: 50px;
    top: 60px;
}

.card2 img:hover {
    opacity: 20%;
    cursor: pointer;
    display: block;
}

.card2 img:hover + i{
    display: block;
}

.card img{
    width: 100%;
}
.card h3, .card div{
    text-align: center;
}

.card div{
    margin-top: 10px;
    color:#a3a3a3;
    opacity: 40%;
}

.middle-container h2{
    margin: 15px;
}

.middle-container p{
    margin: 15px;
    color:#a3a3a3;
    opacity: 40%;
}

.cards-container2{
    display: flex;
    gap: 1rem;
    width: 33%;
}

.card2{
    margin-left: 20px;   
    width: calc((100% - 1rem) / 2);
    
}

.card2 img{
    width: 100%;
   
}

.card2 h3{
    text-align: center;
}

.cards-container3{
    display: flex;
    gap: 1rem;
    width: 33%;
}

.card3{
    margin-left:20px ;
    width: calc((100% - 1rem) / 2);

}

.card3 img{
border-radius: 50%;
width: 100%;
   
}

.bottom-container{
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
    height: 80px;
    width: 100%;
    background-color: #282828;
    justify-content: space-between ;
}

.left-item{
    display: flex;
    margin-inline: 10px;
}

.left-item-image{
    width: 33%;  
}
.left-item-image img{
    width: 100%;
}
.name-left-item{
    margin-top: 20px;
}
.item{
    margin: 40px;
}

.item i{
    margin-inline: 5px;
    opacity: 50%;
}

.item2-container{
    display: flex;  
    margin-left: 140px;
}

.item2-container i{
    margin-inline: 20px;
    font-size: 25px;
    margin-top: 10px;
    opacity: 50%;
   
}
.barra{
    display: flex;
}


.barra-button button{
    width: 125px;
    height: 10px;
}

.middle-item{
  margin-right: 150px;
}

.barra-button2 button{
    width: 450px;
    height: 10px;
    background-color: #5a5a5a;
    border: solid 0px;
    border-end-end-radius: 25px ;
    
}
.seconds{
    margin-top: 5px;
    margin-inline: 5px;
}

.right-item{
    display: flex;
    margin: 20px;
    margin-top: 30px;
    
}

.barra-button3 button{
    width: 50px;
    height: 10px;
}

.barra-button4 button{
    width: 100px;
    height: 10px;
    background-color:#5a5a5a;
    border: solid 0px;
    border-end-end-radius:25px ;
}

.right-item i{
    margin-top: 5px;
    margin-inline: 10px;
    opacity: 50%;
}

.bottom-container i:hover{
  opacity: 100%;
  cursor: pointer;
}

.name-left-item a{
    color: white;
    text-decoration: none;
    opacity: 50%;
}

.name-left-item a:hover{
    opacity: 100%;
    cursor: pointer;
}

.barra-button:hover button{
  background-color: #81b71a;
  border: solid 0px;
  border-radius: 20px;
}

.barra-button3:hover button{
    background-color: #81b71a;
    border: solid 0px;
    border-radius: 20px;
  
  }

  .ghost-button button{
    display: none;
    position: absolute;
    left: 580px;
    top: 40px;
    background-color: rgb(255, 255, 255);
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }

  .barra-button:hover +.ghost-button button{
    display: block;
  }

  .ghost-button2 button{
    display: none;
    position: absolute;
    right: 110px;
    top: 35px;
    background-color: rgb(255, 255, 255);
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }

  .barra-button3:hover +.ghost-button2 button{
    display: block;
  }